<template>
  Hello: {{message}}
</template>

<script>
import axios from "axios"
export default {
  name: 'App',
  data(){
    return {
      message: ""
    }
  },
  created() {
    axios.get('http://localhost:8000/')
      .then(response => {
          this.message = response.data;
      })
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
